@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.content-el h1 {
    display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
    margin-bottom: 1em;
    margin-top: -1rem;
}

.content-el h2 {
    display: block;
    font-size: 1.75em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.content-el h3 {
    display: block;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.content-el h4 {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #77b5fe;
    font-size: 1em;
}

.content-el h5 {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    font-weight: bold;
}

.content-el h6 {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0;
    font-weight: bold;
}

.content-el p {
    font-size: 1.2rem;
    font-weight: 100;
}

.content-el {
    text-align: left;
    line-height: 2em;
    padding: auto 0;
    margin: 0 auto;
}

.content {
    width: 50%;
}

#logout-link {
    line-height: 1.5rem;
}

#logout-form {
    margin: 0;
}

.max-w-7xl.mx-auto.py-6.px-4 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

.primary-btn {
    border-radius: 0.15em;
    padding: 8 16;
    background-color: #77b5fe;
    color: #000;
}

body {
    background-image: url(../images/mountains_Background.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0 0 0 / 0.6);
    background-blend-mode: multiply;
}

.ljus {
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.6);
}

.h2_cards {
    color: #f5f5f5;
    text-shadow: 0 0 5px rgb(0, 0, 0, 0.6);
}

h1 {
    color: #f5f5f5;
}

.knapp {
    border-radius: 0.15em;
}

div#content-el {
    margin-top: 20px;
}

b {
    color: #f5f5f5;
}

#login-hr {
    border-color: #77b5fe;
}

.text-color {
    color: #000;
}

.login-bn {
    background-color: #77b5fe;
}

img {
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: contain;
}
