@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
:root {
    --main-bg-color: rgb(20, 18, 18);
    --secondary-bg-color: rgb(58, 57, 57);
    --bubble-bg-color: #203354;
    --circle-bg-color: radial-gradient(circle at 100px 100px, #5cabff, #000);
    --maincircle-bg-color: radial-gradient(
        circle at 100px 100px,
        #d01dd6,
        #000
    );
}

html {
    /*background: #f5f5f5;*/
    background: rgb(243, 244, 246);
}

h1 {
    font-family: "Elephant";
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Century";
}

body {
    font-family: "Times New Roman";
    height: 100vh;
    display: grid;
    grid-template-areas: "left center right" "left center right";
    justify-content: center;
}

#layout-fruit {
    grid-area: center;
    grid-row: 2;
    margin-top: 1rem;
    width: 95vw;
    height: 85vh;
}
#layout-fruit .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left center right";
    overflow: hidden;
    background-color: var(--main-bg-color);
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Hemi-head;
    box-shadow: 0px 3px 10px #343434;
}
#layout-fruit .graph {
    margin-top: 4rem;
    grid-area: center;
    width: 33vw;
    display: grid;
    justify-self: center;
    grid-template-areas: "circle circle" "info info";
}
#layout-fruit .graph .contient {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
}
#layout-fruit .graph .circle {
    grid-area: circle;
    justify-self: center;
    margin-top: -3rem;
}
#layout-fruit .graph .contient.one {
    grid-area: info;
    grid-row: 2;
    justify-self: center;
    width: max-content;
    margin-top: 5rem;
    margin-left: -17rem;
}
#layout-fruit .graph .contient.one #g18,
#layout-fruit .graph .contient.one #g1016,
#layout-fruit .graph .contient.one #g1203 {
    transform: rotate(0deg);
}
#layout-fruit .graph .contient.one ul {
    justify-items: center;
    margin-top: -4rem;
    direction: rtl;
    transform: translateX(-20%);
}
#layout-fruit .graph .contient.one .main-text::after,
#layout-fruit .graph .contient.one .second-text::after {
    right: -9.5vw;
    transform: rotate(45deg);
}
#layout-fruit .graph .contient.two {
    grid-area: info;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    width: max-content;
    margin-right: 4rem;
    margin-top: 5rem;
}
#layout-fruit .graph .contient.two #g18,
#layout-fruit .graph .contient.two #g1016,
#layout-fruit .graph .contient.two #g1203 {
    transform: rotate(360deg);
}
#layout-fruit .graph .contient.two ul {
    justify-items: center;
    margin-left: 5em;
    margin-top: -4rem;
    direction: ltr;
    transform: translateX(70%);
}
#layout-fruit .graph .contient.two .main-text::after,
#layout-fruit .graph .contient.two .second-text::after {
    left: -9.5vw;
    transform: rotate(-45deg);
}
#layout-fruit .graph .contient.two #g18,
#layout-fruit .graph .contient.two #g1016,
#layout-fruit .graph .contient.two #g1203 {
    transform: rotate(0deg);
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg); /* inner circle start*/
    }
    100% {
        transform: rotate(180deg); /* inner circle stop/value */
    }
}
@keyframes rotate2 {
    0% {
        transform: rotate(0deg); /* middle circle start*/
    }
    100% {
        transform: rotate(180deg); /* middle circle stop/value */
    }
}
@keyframes rotate3 {
    0% {
        transform: rotate(0deg); /* outer circle start*/
    }
    100% {
        transform: rotate(180deg); /* outer circle stop/value */
    }
}
#layout-fruit ul {
    padding: 0;
    list-style: none;
}
#layout-fruit .graph,
#layout-fruit .main-info {
    box-sizing: border-box;
    height: 70vh;
}
#layout-fruit .info,
#layout-fruit .second-info {
    box-sizing: border-box;
    height: 30vh;
}

#layout-fruit .graph svg {
    overflow: visible;
    flex: 1 1;
    flex-basis: 75vh;
    min-width: 100%;
}
#layout-fruit .graph ul {
    flex: 0 0 10%;
    width: max-content;
}
#layout-fruit .graph ul li {
    color: white;
    font-size: 1rem;
    padding-bottom: 1em;
    opacity: 0;
    animation: fadein 3s forwards linear;
}
#layout-fruit under {
    font-size: 0.75em;
}
#layout-fruit .graph ul li:nth-of-type(1) {
    animation-delay: 6s;
    list-style-image: url(../../public/images/fruit/blixt.svg);
}
#layout-fruit .graph ul li:nth-of-type(2) {
    animation-delay: 8s;
    list-style-image: url(../../public/images/fruit/truck.svg);
}
#layout-fruit .graph ul li:nth-of-type(3) {
    animation-delay: 10s;
    list-style-image: url(../../public/images/fruit/factory.svg);
}
#layout-fruit .graph .info ul li {
    list-style-image: none;
}
#layout-fruit .graph .info {
    margin-top: 3rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
#layout-fruit #g18 {
    animation: rotate1 3s linear forwards;
    transform-origin: 50.3% 64.1%;
}
#layout-fruit #g1016 {
    animation: rotate2 3s linear forwards;
    transform-origin: 50.3% 64.1%;
}
#layout-fruit #g1203 {
    animation: rotate3 3s linear forwards;
    transform-origin: 50.3% 64.1%;
}
#layout-fruit #g18 {
    animation-delay: 4s;
}
#layout-fruit #g1016 {
    animation-delay: 7s;
}
#layout-fruit #g1203 {
    animation-delay: 10s;
}
#layout-fruit #g3533 {
    display: none;
}
#layout-fruit .info ul {
    background-color: var(--secondary-bg-color);
    box-shadow: 5px 10px 40px rgb(63, 62, 62);
    font-size: 0.75em;
    width: 60%;
    color: white;
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide-in 2s forwards;
}

#layout-fruit .text {
    color: white;
    position: relative;
    font-size: 1.3em;
    opacity: 0;
    animation: fadein 3s forwards linear;
    animation-delay: 14s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#layout-fruit .main-info,
#layout-fruit .second-info,
#layout-fruit .main-text,
#layout-fruit .second-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -7.75rem;
}
#layout-fruit .main-info {
    justify-content: center;
    grid-area: main-info;
    margin-top: -2rem;
}
#layout-fruit div.second-info {
    grid-area: logo;
    margin-top: -4rem;
}
#layout-fruit .main-text,
#layout-fruit .second-text {
    background: var(--bubble-bg-color);
    height: fit-content;
    max-width: 23vw;
    border-radius: 1vh;
    position: relative;
    padding: 0;
    margin-top: -2rem;
    margin-left: 7.5rem;
    animation: fadein 5s forwards;
    z-index: 1;
}
#layout-fruit .main-text::after,
#layout-fruit .second-text::after {
    content: "";
    display: flex;
    align-self: flex-end;
    background-color: var(--bubble-bg-color);
    height: 6vw;
    width: 6vw;
    margin: 0 2rem -1rem 0;
    transform: rotateZ(45deg);
    border-radius: 50% 0 10% 0;
    z-index: 2;
}
#layout-fruit .main-text h2,
#layout-fruit .second-info h2 {
    color: burlywood;
    font-size: 2.5vw;
    text-align: center;
}
#layout-fruit .main-text p {
    color: aliceblue;
    font-size: 1.7vw;
    text-align: center;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

iframe {
    width: 100%;
    height: 100%;
}
button.changeSideBtnLeft,
iframe.left {
    grid-area: left;
}
button.changeSideBtnRight,
iframe.right {
    grid-area: right;
}
button.changeSideBtnLeft,
button.changeSideBtnRight {
    opacity: 0;
}

.header {
    grid-column-start: left;
    grid-column-end: right;
    grid-row: 1;
    height: 10vh;
    display: grid;
    align-items: end;
}

hr {
    border-color: rgb(209, 213, 219);
    margin-bottom: -1rem;
}

.mt-10 {
    width: 16rem;
    height: 2.5rem;
    justify-self: center;
    margin-bottom: -1rem;
}

.scanModeBtn {
    margin-bottom: -1rem;
    display: flex;
    width: 8rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

@font-face {
    font-family: Hemi-head;
    src: url("../../public/images/fruit/hemi-head-bd-it.ttf");
}
